body {
background-color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

#mypage {
/* border: 1px solid #000; */
width: 100%;
}

#banner {
height: 90px;
border: 1px solid #000;
font-size: 400%;
}

#topnav {
height: 45px;
border: 1px solid #000;
}

#topnav ul li{
test-decoration: none;
display: inline;
}

#topnav a:link {
text-decoration: none;

}

#topnav a:visited {
color: #accdea;
}

#topnav a:hover {
background-color: #c8def2;
}

#contentarea {
height:1600px;
}

#topnav .hm {
background-color: red;
}

.company_profile {
    width: 100%;
    height: 250px;
    background-color: #c8def2;
    border-radius: 8px;
    margin: 10px;
}

.current_trainees {
    width: 100%;
    height:300px;
    background-color: #3982d6;
    border-radius: 8px;
    margin: 10px;
}

.job_spec {
    width: 100%;
    height:300px;
    background-color: #454b88;
    border-radius: 8px;
    margin: 10px;
}

.application_form {
    width: 100%;
    height:300px;
    background-color: #247988;
    border-radius: 8px;
    margin: 10px;
}

.our_courses {
    width: 100%;
    height:300px;
    background-color: #334850;
    border-radius: 8px;
    margin: 10px;
}

.our_trainess ul li {
    display: inline;
    margin-right: 85px;
}

.company_profile h1 {
    color: #edbcca;
}

.company_pofile p {
    padding-left: 250px;
    border-radius: 10px;
    background-color: #caadce;
}

.company_profile .pp2{
    color: #fff;
    padding-left: none !important;
}

.current_trainees ul li {
    display: inline;
    margin-right: 85px;
}

.current_trainees img {
    border-radius: 30%;
}

.current_trainees h1 {
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: 35px;
}

.company_profile #pp1 {
    padding-left: 250px;
    border-radius: 10px;
    background-color:#caadce;
}

.our_courses dd dl {
    display: inline;
    margin-right: 150px;
}

.our_courses dl {
    width: 140px;
    height: 150px;
}

.our_courses p {
    margin-bottom: 35px;
    padding-top: 35px;
    margin-left: 35px;
    font-size: 400%;
}

.cs {
    border: 1px solid #041e19;
}

.js {
    border: 1px solid #041e19;
}

.hc {
    border: 1px solid #041e19;
}

.jmac {
    border: 1px solid #000;
}
